# Copy this file to .envrc and fill in your actual values
export ADDR=":8080"
export DB_ADDR="postgres://admin:adminpassword@localhost/social?sslmode=disable"
export SENDGRID_API_KEY="your_sendgrid_api_key_here"
export FROM_EMAIL="your_email@example.com"
export MAILTRAP_API_KEY="your_mailtrap_api_key_here"
export ENV="development"
